boto3==1.12.5
botocore==1.15.5
docopt==0.6.2
docutils==0.15.2
iterfzf==0.5.0.20.0
jmespath==0.9.4
lark-parser==0.7.8
python-dateutil==2.8.1
python-hcl2==0.2.4
s3transfer==0.3.3
six==1.14.0
urllib3==1.25.8
